* {
	padding: 0;
	margin: 0;
	font-family: century gothic;
	text-align: center;
}
header{
    background-color: aquamarine;
}
.card{
    background-color: rgb(141, 138, 138);
    width: 80%;
    margin: 15px auto 10px auto;
    padding: 5px;
}

.footer{
    background-color: rgb(115, 161, 115);
    text-align: center;
    padding: 20px;
}
.footer a{
    text-decoration: none;
    color: white;
    background-color: rgb(63, 63, 63);
    padding: 10px;
    border-radius: 10px;
}

/*FORMULARIO*/
form {
	padding: 50px 20px;
	background-color: #ededed;
    margin: calc(25% + 100px);
	margin-top: 70px;
	padding-top: 28px; 
	margin-bottom: 30px;   
}

h1 {
	text-align: center;
	padding: 12px;
	color: #444
}

input {
	width: calc(100% - 20px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px
}

input[type='submit']{
	background-color: #48e;
	color: #fff;
	width: calc(80% - 20px);
	margin: 0 10%;
	margin-top: 22px;
	border: none;
}

.ok {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #1e6;
	color: #fff;
}

.bad {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #a22;
	color: #fff;
}